@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 200;
  color: white;
}

html,
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 28px;
  padding-top: 25px;
  background-color: #343c46;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin: 0;
}

hr {
  margin: 15px 0;
  background-color: #5a687a;
}

section {
  margin: 25px 0;
}

.text--primary {
  font-weight: 300;
}

.text--secondary {
  color: gray;
}

.step__section {
  margin: 50px 0;
}

.step__instruction {
  font-weight: 400;
}

.inline-block {
  display: inline-block;
}

.hide {
  display: none;
  opacity: 0;
  visibility: hidden;
}

/* RADIO INPUTS ----------------------------------------------- RADIO INPUTS */
.options {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  // gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.option--radio {
  // box-shadow: 0 0 20px #00000046;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
  margin: 10px;
}

input[type="radio"] {
  display: none;
}

.option--header {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.option--container {
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  border: solid 3px transparent;
  background-color: #293038;
}

.option--radio input[type="radio"]:checked + .option--container {
  border: solid 3px #37bd85;
}

.icon--check {
  font-size: 20px;
  color: white;
}

.icon--container {
  background-color: #37bd85;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.option--radio
  input[type="radio"]:checked
  + .option--container
  > .option--header
  > .icon--container {
  opacity: 1;
}

input[type="number"] {
  width: 50%;
  border: none;
  // box-shadow: 0 0 20px #00000046;
  border-radius: 5px;
  padding: 15px 25px;
  cursor: pointer;
  background-color: #293038;
  margin: 10px;
}

.results-heading {
  text-transform: uppercase;
  font-weight: 400;
}

.results-text {
  font-size: 1.25rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1.1rem;
  }

  .step__section {
    margin: 25px 0;
  }

  .options {
    flex-wrap: wrap;
  }

  .option--radio {
    width: 100%;
  }

  .option--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
  }

  .icon--container {
    width: 20px;
    height: 20px;
  }

  .icon--check {
    font-size: 10px;
  }

  input[type="number"] {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .results-text {
    font-size: 1rem;
  }
}
