@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 200;
}

html,
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 28px;
  padding-top: 25px;
  background-color: #fafafa;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin: 0;
}

hr {
  margin: 15px 0;
}

section {
  margin: 25px 0;
}

.text--primary {
  font-weight: 300;
}

.text--secondary {
  color: gray;
}

.step__section {
  margin: 50px 0;
}

.step__instruction {
  font-weight: 400;
}

.inline-block {
  display: inline-block;
}

/* RADIO INPUTS ----------------------------------------------- RADIO INPUTS */
.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.option--radio {
  -webkit-box-shadow: 0 0 20px #8080801c;
          box-shadow: 0 0 20px #8080801c;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
}

input[type="radio"] {
  display: none;
}

.option--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.option--container {
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  border: solid 3px transparent;
  background-color: white;
}

.option--radio input[type="radio"]:checked + .option--container {
  border: solid 3px #37bd85;
}

.icon--check {
  font-size: 20px;
  color: white;
}

.icon--container {
  background-color: #37bd85;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.option--radio
input[type="radio"]:checked
+ .option--container
> .option--header
> .icon--container {
  opacity: 1;
}

input[type="number"] {
  width: 50%;
  border: none;
  -webkit-box-shadow: 0 0 20px #8080801c;
          box-shadow: 0 0 20px #8080801c;
  border-radius: 5px;
  padding: 15px 25px;
  cursor: pointer;
}

.results-heading {
  text-transform: uppercase;
  font-weight: 400;
}

.results-text {
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .options {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .option--radio {
    width: 100%;
  }
  .option--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  input[type="number"] {
    width: 100%;
  }
  .results-text {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 420px) {
  .results-text {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=test.css.map */