* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eeeeee;
    max-height: 100%;
    min-height: 100%;
    min-width: 320px;
    color: #222831;
}

::selection {
    color: none;
    background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}

nav {
    background-color: #222831;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(2, 2, 2, 0.2);
    font-family: 'Montserrat', sans-serif;
}

nav h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
}

main {
    top: 100px;
    box-shadow: 0px 1px 4px rgba(2, 2, 2, 0.2);
    border-radius: 10px;
    display: flexbox;
    background-color: rgba(253, 253, 253);
    max-width: 600px;
    margin: 0 auto;
}

section {
    align-items: center;
    text-align: center;
}

h2 {
    line-height: 1.5;
}

.content {
    color: #393e46;
}

.options {
    
    flex-direction: column;
    width: 100%;
}

.option-container {
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    height: 100px;
    display: table;
    box-shadow: 0px 2px 4px rgba(2, 2, 2, 0.2);
}

.option { 
    text-decoration: none;
    color: #393e46;
    background-color: white;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.option:hover {
    color: white;
    background-color: #393e46;
}

.text-input {
    box-shadow: 0px 2px 4px rgba(2, 2, 2, 0.2);
    border: none;
    width: 100%;
    max-width: 220px;
    height: 65px;
    font-size: 40px;
    color: #393e46;
    text-align: right;
    cursor: text;
}

.text-input::selection {
    color: white;
    background: #393e46;
}
/* For Mozilla Firefox */
.text-input::-moz-selection {
    color: white;
    background: #393e46;
}

span {
    font-size: 40px;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    background-color:#00adb5;
    border: none;
    box-shadow: 0px 2px 4px rgba(2, 2, 2, 0.2);
    color: rgba(253, 253, 253);
    text-shadow: 0px -2px 3px rgba(2, 2, 2, 0.2);
    cursor: pointer;
}

.btn:hover {
    background-color: #393e46;
}

